PORT=3001
FIREBASE_PROJECT_ID=arah-app
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@arah-app.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----"
HMAC_SECRET=change-this-to-a-random-secret
